.giorno {
    font-size: 4vh;
    margin-top: 30px;
    font-weight: bold;
    color: black;
}

.data {
    font-size: 4vh;
    font-weight: bold;
    color: black;
}

.ora {
    font-size: 6vh;
    font-weight: bold;
    color: black;
}
