.orario_griglia {
    margin: 0;
    height: 100vh;
    overflow: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 8fr;
    grid-template-areas:
        "prof classi chiudi"
        "orario orario orario"
}

#allinea{
    text-align: right;
    font-size: 15px;
}

.orario_professori {
    grid-area: prof;
    color: #b8860b;
    font-size: 25px;
    text-align: center;
    background-color: yellow;
    display: flex;
    align-items: center;

}


.orario_materie {
    grid-area: orario;
    color: #b8860b;
    font-size: 25px;
    text-align: center;
    background-color: yellow;


}

.orario_chiudi{
    grid-area: chiudi;
    background-color: yellow;
    margin:0;
    padding-right: 2em;
    padding-top: 2em;

}

.orario_chiudi span {
    border: 1px solid black;
    border-radius:1em;
   text-align: center;
   background-color: rgb(31, 31, 214);
   color: white;
   padding: 1em;
}

.orario_classi {
    grid-area: classi;
    color: #b8860b;
    font-size: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: yellow;
}

#prof, #classi { 
    font-size:3vh;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: black solid 1px;

}

#tabella td {
    font-size:1rem;
    margin:0.2em;
    background-color: rgba(255, 255, 255, 0.65);
}

#tabella td {
    color: #222
}

#tabella td .aula:after {
    content:"\a";
    white-space: pre;
}

#tabella td .materia {
    font-weight: bold;
}

#tabella td .materia:after {
    content:"\a";
    white-space: pre;
    font-weight: bold;
}
