.orario_griglia {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas:
        "prof  orario"
        "prof  materie"

}

.orario_professori {
    grid-area: prof;
    color: #b8860b;
    font-size: 25px;
    text-align: center;
    background-color: yellow;
}

.orario_orario {
    grid-area: orario;
    color: #b8860b;
    font-size: 25px;
    text-align: center;
    background-color: yellow;
    line-height: 2.5em;

}

.orario_materie {
    grid-area: materie;
    color: #b8860b;
    font-size: 25px;
    text-align: center;
    background-color: yellow;


}

.orario_classi {
    grid-area: classi;
    color: #b8860b;
    font-size: 25px;
    text-align: center;
    background-color: yellow;
}